<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3>Search</h3>
    <p>Enter the movie title to search for below and press the enter key or the search button.</p>

    <ion-input placeholder="Enter move title here" [(ngModel)]="searchQuery"></ion-input>

    <ion-button (click)="searchButtonPressed()">
        <ion-icon slot="start" name="search"></ion-icon>
        Search
    </ion-button>
</ion-content>

<ion-footer>
    <p style="text-align: right">Search / HSLU I</p>
</ion-footer>
